/**The css to create the animated bubbles background
 * Creates bubbles that float up from the bottom of the screen
*/
.bubbles{
    position: relative;
    display: block;
    width: 100%;
    animation: fadeinBubbles 0.7s ease-in-out forwards;
    z-index: -1;
}

.bubbles span{
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    margin: 1.3vw;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 0 0.8vw rgba(8, 100, 128, 0.5),
    0 0 2.8vw rgba(0, 255, 255,0.5),
    0 0 5.6vw rgba(0, 255, 255,0.5);
    animation: animate 35s linear infinite;
    animation-delay: calc(-1s * var(--i));
    --xDirection: 1;
    --xFactor: 1;
}

.bubbles span:nth-child(even){
    background-color: rgb(0, 42, 255);
    box-shadow: 0 0 0 0.8vw rgba(36, 67, 146, 0.5),
    0 0 2.8vw rgba(0, 42, 255, 0.5),
    0 0 5.6vw rgba(0, 42, 255, 0.5);
}

.hiddenBubbles{
    display: none;
}

/**Styling for the bubbles when red option is selected
 * This style is used primarily for the no page error page
*/
.red span{
    background-color: rgb(223, 5, 27);
    box-shadow: 0 0 0 0.8vw rgb(72, 32, 40),
    0 0 2.8vw rgb(197, 13, 50),
    0 0 5.6vw rgb(197, 13, 50);
}

.red span:nth-child(even){
    background-color: rgb(211, 72, 22);
    box-shadow: 0 0 0 1.4vw rgb(83, 65, 44),
    0 0 3.5vw rgb(211, 72, 22),
    0 0 6.5vw rgb(211, 72, 22);
}

/**Styling for the bubbles when green option is selected
 * This style is used primarily for the information page
*/
.green span{
    background-color: rgb(8, 140, 41);
    box-shadow: 0 0 0 0.8vw rgb(28, 99, 45),
    0 0 2.8vw rgb(8, 140, 41),
    0 0 5.6vw rgb(8, 140, 41);
    animation: greenAnimate 70s linear infinite;
    animation-delay: calc(-2s * var(--i));
    --xDirection: 1;
    --xFactor: 1;
}

.green span:nth-child(even){
    background-color: rgb(161, 221, 11);
    box-shadow: 0 0 0 0.8vw rgb(56, 135, 8),
    0 0 2.4vw rgb(161, 221, 11),
    0 0 5.6vw rgb(161, 221, 11);
}

.extraGreenBubbles{
    display: flex;
    width: 100%;
    /* margin-top: 5em; */
}

@keyframes greenAnimate{
    0%{
        transform: translateY(190em) translateX(0px) scale(0.3);
        opacity: 0;
    }
    25%{
        transform: translateY(142.5em) translateX(calc(2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(1);
        opacity: 0.7;
    }
    50%{
        transform: translateY(95em) translateX(0px) scale(0.5);
        opacity: 0.4;
    }
    75%{
        transform: translateY(47.5em) translateX(calc(-2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-10em) translateX(0px) scale(1);
        opacity: 0.1;
    }
}

@keyframes greenAnimate900{
    0%{
        transform: translateY(205em) translateX(0px) scale(0.3);
        opacity: 0;
    }
    25%{
        transform: translateY(153.75em) translateX(calc(2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(1);
        opacity: 0.7;
    }
    50%{
        transform: translateY(102.5em) translateX(0px) scale(0.5);
        opacity: 0.4;
    }
    75%{
        transform: translateY(51.25em) translateX(calc(-2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-10em) translateX(0px) scale(1);
        opacity: 0.1;
    }
}

@keyframes greenAnimate600{
    0%{
        transform: translateY(255em) translateX(0px) scale(0.3);
        opacity: 0;
    }
    25%{
        transform: translateY(191.25em) translateX(calc(2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(1);
        opacity: 0.7;
    }
    50%{
        transform: translateY(127.5em) translateX(0px) scale(0.5);
        opacity: 0.4;
    }
    75%{
        transform: translateY(63.75em) translateX(calc(-2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-10em) translateX(0px) scale(1);
        opacity: 0.1;
    }
}

.bubbles span:nth-child(4n){
    --xDirection: -1;
}.bubbles span:nth-child(4n+1){
    --xDirection: -1;
}
.bubbles span:nth-child(5n){
    --xFactor: 2;
}
.bubbles span:nth-child(5n+1){
    --xFactor: 3.5;
}
.bubbles span:nth-child(5n+2){
    --xFactor: 1.5;
}
.bubbles span:nth-child(5n+3){
    --xFactor: 3;
}
.bubbles span:nth-child(5n+4){
    --xFactor: 2.5;
}

@keyframes animate{
    0%{
        transform: translateY(60em) translateX(0px) scale(0.3);
        opacity: 0;
    }
    25%{
        transform: translateY(75vh) translateX(calc(2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(1);
        opacity: 0.7;
    }
    50%{
        transform: translateY(50vh) translateX(0px) scale(0.5);
        opacity: 0.4;
    }
    75%{
        transform: translateY(25vh) translateX(calc(-2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-10vh) translateX(0px) scale(1.4);
        opacity: 0.1;
    }
}

/**This creates the fadein animation for the bubbles when the main menu is opened
 * It causes the bubbles of the main menu to fade in and move up the screen
*/
@keyframes fadeinBubbles{
    0%{
        opacity: 0;
        transform: translateY(500%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

/**This creates the fadeout animation for the bubbles when the main menu is closed
 * It causes the bubbles of the main menu to fade out and move up the screen
*/
.fadeoutBubbles{
    animation: fadeoutBubbles 0.7s ease-in-out forwards;
}

@keyframes fadeoutBubbles{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-500%);
    }
}

/**Media queries for smaller screen sizes
 * Webpage rearranges to appear better on smaller screens
*/
@media (max-width: 900px) {
    .green span{
        animation: greenAnimate900 80s linear infinite;
        animation-delay: calc(-4s * var(--i));
        --xDirection: 1;
        --xFactor: 1;
    }
}
@media (max-width: 600px) {
    .green span{
        animation: greenAnimate600 90s linear infinite;
        animation-delay: calc(-2s * var(--i));
        --xDirection: 1;
        --xFactor: 1;
    }
}