/**Sets the styling specific for the input divs in the ratio quiz interface
 * Creates an appropriate size and spacing for the input boxes
 * The factorisation quiz interface uses a different layout due to the representation of the input boxes as part of an equation
*/
.inputDiv{
    display: flexbox;
    margin-left: 4%;
    margin-bottom: 1.5em;
}

.textLabel, .boxInput{
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 15px;
}

.boxInput{
    width: 3em;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
  
input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 600px) {
    .inputDiv{
        grid-template-columns: 40% 50%;
    }
}