/**General footer container
 * Creates the dimensions for the footer that holds the footer links
*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14.5em;
    background-color: rgb(50, 55, 104);
    text-align: center;
    overflow-y: hidden;
    padding: 0.5em 0;
}

/**Styling for general footer elements
 * This includes some general styling for the footer elements such as the text color
*/
.footer *{
    color: rgb(172, 172, 172);
    font-size: 1em;
    text-align: left;
}


/**Styling of footer contents
 * Creates the styling for the footer content and footer links and the hover and active states
*/

/*Styling for the container of the footer links*/
.footerContent{
    width: 100%;
    display: inline-block;
    padding-left: 5.5em;
    margin-top: 1em;
}

.footerTitle{
    margin: 0.5em 0em;
    font-size: 1.2em;
    font-weight: bold;
}

.footerContent a, .contactDetail{
    font-size: 1em;
    margin-right: 12em;
    margin-left: 2em;
}

.footer a{
    color: rgb(172, 172, 172);
}

.footer a:hover{
    text-decoration: underline;
}

.footer a:active{
    color: rgb(37, 80, 160)
}

/**Styling for footer text
 * Creates styling for the footer text describing website author
*/
.credits{
    color: rgb(94, 94, 94);
    font-size: 0.9em;
    margin: 0 1.5em;
    padding: 0.5em;
    text-align: center;
    font-style: italic;
}

.line{
    border: 0;
    border-bottom: solid rgb(26, 33, 46) 2px;
    width: 95%;
    margin: 0.5em auto;
}

/**Media queries for smaller screen sizes
 * Footer now changes to be more appropriate for smaller screen sizes
*/
@media only screen and (max-width: 600px) {
    /*Size of footer improved*/
    .footer {
        height: 27em;
        padding: 0.4em;
    }

    /*Arrangement of footer links improved*/
    .footer a, .contactDetail{
        font-size: 1em;
        display: block;
        width: 100%;
        margin: 1.5em 0;
    }
}