/**The css that creates the background for the main menu
 * Sets a gradient background colour
*/
.background{
    position:relative;
    display: inline-block;
    background: #0b2633;
    background: linear-gradient(180deg, rgba(11, 38, 51, 1) 0%, rgba(19, 39, 56, 1) 12%, rgba(26, 53, 82, 1) 71%, rgba(52, 87, 117, 1) 100%);
    position: absolute;
    width: 100%;
    min-height: 75em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -10;
}

/**This is the css to create the main appearance for the quiz
 * Creates the quiz container where most of the game will be taking place
*/
.quizContainer{
    position:absolute;
    top:5em;
    left:50%;
    transform:translateX(-50%);
    width: 90%;
    height: 46em;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(106, 120, 139);
    animation: fadeIn 0.5s ease-in-out;
}

/**This is the css to animate the quiz in upon loading the page
 * It causes the quiz to fade in from the bottom of the screen
*/
@keyframes fadeIn{
    0%{
        opacity:0;
        transform: translateY(100%) translateX(-50%);
    }
    100%{
        opacity:1;
    }
}

/**This is the css to animate the quiz out upon leaving the page
 * It causes the quiz to fade out from the bottom of the screen
*/
.fadeOutContainer{
    animation: fadeOut 0.7s ease-in-out;
}

@keyframes fadeOut{
    0%{
        opacity:1;
        transform: translateY(0%) translateX(-50%);
    }
    100%{
        opacity:0;
        transform: translateY(-200%) translateX(-50%);
    }
    
}

.quizHeader{
    display:flex;
}

/**Styling of the return button to go back to the main menu from a quiz
 * Creates general appearance of the button appropriate for the icon and text of it
*/
.returnButton{
    background-color: rgb(112, 182, 225);
    color: black;
    width: 10%;
    height: 3.8em;
    line-height: 3.8em;
    font-size: 1em;
    border-radius: 25px;
    border: transparent 3px solid;
    font-weight: bold;
}

.backIcon{
    font-size: 1.2em;
    line-height: 1.2em;
}

.returnButton:hover{
    color: white;
    border-color: #4987a7;
    cursor: pointer;
    transition: 0.3s;
}

.returnButton:active{
    background-color: #4987a7;
    color: white;
    border-color: #4987a7;
    transition: 0.1s;
}

/**Styling of the title of the quiz
 * Creates general appearance of the title of the quiz
*/

.quizContainer h1{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-right: 1.5em;
    margin: 0.5em 0;
    width: 100%;
}

/**Styling of the line that separates the title from the rest of the quiz
 * Creates general appearance of the line that separates the title from the rest of the quiz
*/

.line{
    border: 0;
    border-bottom: solid white 2px;
}

/**Styling of the quiz content area
 * Creates general appearance of the quiz content area including question, info and answer sections
*/

.quizContent{
    height:37em;
}

.quizInfo{
    display: flex;
    width: 100%;
    height: 3.5em;
    padding: 0.7em;
}

.totalTimer, .questionTimer, .correctCount, .incorrectCount{
    font-size: 1.25em;
    color: rgb(209, 209, 209);
    width: 24.8%;
    font-style: italic;
    border-right: solid white 2px;
    padding-left: 1.5em;
    line-height: 1.8em;
}

/*Maintain the text size for text that isn't relevant on smaller screens*/
.smallerScreenText{
    font-size: 1em;
}

.quizInfo p:last-child{
    border-right: none;
}

.quizQuestion{
    height: 27%;
    padding: 0.5em;
    text-align: left;
    font-size: 1.5em;
}

.quizAnswerSection{
    height: 52%;
    width: 100%;
    text-align: left;
}

/**Styling for the bottom of the quiz container
 * Includes the submit button and the previous answer feedback area
*/

.quizFooter{
    display: grid;
    grid-template-columns: 85% 15%;
    margin-top: 0.5em;
}

.answerFeedback{
    font-size: 1.3em;
    color: white;
    padding: 0.2em;
    text-align: left;
    height: 3.5em;
}

/**Styling for submit button of the quiz
 * Creates general appearance of the submit button including hover and active states
*/

.submitButton{
    position: absolute;
    bottom: 0.5em;
    right: 1.5em;
    background-color: rgb(29, 167, 43);
    display: block;
    height: 3em;
    width: 12em;
    line-height: 3em;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em auto;
}

.submitButton:hover{
    background-color: rgb(22, 134, 33);
    text-decoration: underline;
}

.submitButton:active{
    background-color: green;
}

/**Styling for the correct alert that appears when the answer is correct
 * Creates general appearance of the correct alert as well as the animations appropriate for it
*/
.correctAlert{
    position: fixed;
    top: 20vh;
    left: 40vw;
    width: 20vw;
    height: 4em;
    background-color: rgb(30, 160, 43);
    border: solid 2px rgb(22, 112, 31);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 4em;
    display: none;
    z-index: -10;
}

.animateCorrectAlert{
    display: block;
    animation: correctAlert 1.5s ease-in-out;
    z-index: 100;
}

@keyframes correctAlert {
    0%{
        opacity:0;
        transform: translateY(0%);
        scale: 0;
    }
    10%{
        opacity:1;
        scale: 1;
        transform: translateY(0%);
    }
    100%{
        opacity:0;
        transform: translateY(-50%);
    }
}

.correctAlert h1{
    font-size: 1em;
    font-weight: bold;
    color: white;
}

/***Styling for the incorrect alert that appears when the answer is incorrect
 * Creates general appearance of the incorrect alert as well as the animations appropriate for it
 * Also includes container for the alert to prevent the rest of the page from being accessed when the alert is open
*/
.alertContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 59, 61, 0.7);
    display: none;
}

.incorrectAlert{
    background-color: rgb(171, 7, 7);
    border: solid 3px rgb(114, 8, 8);
    border-radius: 15px;
    position: absolute;
    top: 20vh;
    left: 35vw;
    width: 30vw;
    height: 13em;
    text-align: center;
    display: none;
}

.incorrectAlert span{
    position: absolute;
    top: 5%;
    right: 1%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(175, 175, 175);
    background-color: rgb(128, 0, 0);
    border-radius: 30px;
    border: transparent 2px solid;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.3em;
}

.incorrectAlert span:hover{
    background-color: rgb(171, 7, 7);
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.incorrectAlert span:active{
    background-color: rgb(114, 8, 8);
    color: rgb(121, 35, 35);
    border-color: rgb(121, 35, 35);
    transition: 0.1s;
}

.incorrectAlert h1{
    font-size: 115%;
    font-weight: bold;
    color: white;
    margin: 0.2em auto;
}

.incorrectAlert hr{
    width: 80%;
    margin: 0 auto;
}

.incorrectAlert p{
    height: 72%;
    width: 98%;
    margin: 0.1em auto;
    margin-top: 1.25em;
    text-align: center;
}

.animateAlertContainer{
    display: block;
    z-index: 100;
    animation: incorrectAlertContainerPopup 0.1s ease-in-out;
}

.animateIncorrectAlertIn{
    display: block;
    animation-delay: 0.1s;
    animation: incorrectAlertPopup 0.15s ease-in-out;
}

@keyframes incorrectAlertContainerPopup {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}

@keyframes incorrectAlertPopup {
    0%{
        opacity:0;
        scale: 0;
    }
    100%{
        opacity:1;
        scale: 1;
    }
}

/**Styling for smaller screen sizes
 * This makes the quiz appropraite for smaller screens that may be used to play the quiz
*/
@media (max-width: 1070px) and (min-width: 600px) {
    /*Appropriate size of the overall page on smaller screens*/
    .background{
        min-height: 85em;
    }

    /*Appropriate changes to the return button
    Text of button is removed further down*/
    .returnButton{
        width: 4em;
        margin-bottom: 1em;
    }

    /*Changes to the title of the quiz*/
    .quizContainer h1{
        font-size: 1.4em;
        padding-right: 0.5em;
    }

    /*Remove less relevant information for smaller screens that have less space*/
    .returnText, .smallerScreenText, .questionTimer, .incorrectCount{
        display: none;
    }

    .correctCount{
        border-right: none;
    }

    .quizInfo p{
        width: 49%;
    }

    /*Appropriate sizing of the general areas of the quiz*/
    .quizContent{
        height: 52em;
    }

    .quizContainer{
        width: 94%;
        height: 60em;
    }

    .quizQuestion{
        height: 35%;
    }

    /*Appropriate changes to the submit button*/
    .submitButton{
        width: 8em;
        height: 2.5em;
        line-height: 2.5em;
        font-size: 1em;
    }
    
    /*Changes to the correct alert*/
    .correctAlert{
        width: 40vw;
        left:30vw;
    }

    /*Changes to the incorrect alert*/
    .incorrectAlert{
        left: 25vw;
        width: 50vw;
        height: 16em;
    }
}

/***Styling for even smaller screen sizes
 * This styling is designed for mobile phones and other small devices
*/
@media (max-width: 600px) {
    /*Appropriate size of the overall page on smaller screens*/
    .background{
        min-height: 95em;
    }

    /*Changes to the title of the quiz*/
    .quizContainer h1{
        font-size: 1.4em;
        padding-right: 0.5em;
    }

    /*Appropriate changes to the return button
    Text of button is removed further down*/
    .returnButton{
        width: 4em;
        margin-bottom: 1em;
    }

    /*Remove less relevant information for smaller screens that have less space*/
    .returnText, .questionTimer, .incorrectCount{
        display: none;
    }

    /*Appropriate changes for improved formatting of the quiz info section*/
    .quizInfo{
        display: grid;
        grid-template-rows: auto auto;
        height: 6em;
        padding: 0;
    }

    .totalTimer, .correctCount{
        display: block;
        width: 100%;
        border-right: none;
        line-height: 2em;
    }

    .totalTimer{
        border-bottom: solid white 2px;
    }

    /*Appropriate sizing of the general areas of the quiz*/
    .quizContainer{
        width: 96%;
        height: 60em;
    }

    .quizQuestion{
        height: 45%;
    }

    .quizAnswerSection{
        height: 70%;
    }

    /*Appropriate changes made for the submit button*/
    .submitButton{
        width: 70%;
        height: 2.5em;
        font-size: 1.5em;
        line-height: 2.5em;
        transform: translateX(-50%);
        margin: 0;
        left: 50%;
    }
    
    /*Changes to the correct alert*/
    .correctAlert{
        width: 60vw;
        left:20vw;
    }

    /*Changes to the incorrect alert*/
    .incorrectAlert{
        left: 10vw;
        width: 80vw;
        height: 16em;
    }
}