/**The css that creates the background for the main menu
 * Sets a gradient background colour
*/
.background{
    position:relative;
    display: inline-block;
    background: #0b2633;
    background: linear-gradient(180deg, rgba(11, 38, 51, 1) 0%, rgba(19, 39, 56, 1) 12%, rgba(26, 53, 82, 1) 71%, rgba(52, 87, 117, 1) 100%);
    width: 100%;
    min-height: 195em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

/**This is the css to create the main appearance for the main menu
 * Creates the main menu container and the buttons of the main menu
*/
.informationContainer{
    position:absolute;
    display: block;
    top:50em;
    left:50%;
    width: 100%;
    animation: fadeinContainer 0.5s ease-in-out forwards;
}

/**This creates the fadein animation for the container when the main menu is opened
 * It causes the main menu to fade in and move up the screen
*/
@keyframes fadeinContainer{
    0%{
        opacity: 0;
        transform: translateY(350%) translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%) translateX(-50%);
    }
}

/**This is the css to create the fadeout animation for the main menu
 * Causes the main menu to fade out and move up the screen when the quiz is started
*/
.fadeoutContainer{
    animation: fadeoutContainer 0.7s ease-in-out forwards;
}

@keyframes fadeoutContainer{
    0%{
        opacity: 1;
        transform: translateX(-50%);
    }
    100%{
        opacity: 0;
        transform: translateY(-500%) translateX(-50%);
    }
}

/**This is the css for the title of the page
 * Creates the text visible upon loading the page
*/
.webpageTitle{
    position: relative;
    color: rgb(190, 190, 190);
    font-size: 5em;
    font-weight: bold;
    margin-top: 3em;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/**This is the css for the homepage button visible on the page to return to the homepage
 * Creates the button used to return to the homepage including the hover and active states
*/
.homepageButton{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 1.5em 0;
    font-size: 1.8em;
    width: 24em;
    text-align: center;
    padding: 0.8em 0;
    background-color: transparent;
    border-radius: 1em;
    border: solid white 0.1em;
}

.homepageButton:hover{
    background-color: rgb(53, 154, 53);
    transition: 0.3s ease-in-out;
}

.homepageButton:active{
    background-color: rgb(255, 255, 255);
    color: rgb(53, 154, 53);
    border-color: rgb(53, 154, 53);
    transition: 0.1s ease-in-out;
}

/**This is the css for the sections of the info page as well as the contents for these section on the page as well
 * It sets the two types of sections that exist on the page and also the animation for the contents when scrolling the page
*/
.informationContainer > div{
    width: 100%;
    padding: 8em 5em;
    height: 29em;
    background-color: rgba(36, 78, 79, 0.4);
    border-radius: 1.5em;
    backdrop-filter: blur(4px);
}

.informationContainer > div:nth-child(even){
    background-color: rgba(19, 47, 51, 0.4);
    text-align: right;
}

.informationContainer h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0;
}

.informationContainer p{
    font-size: 1.6em;
    width: 98%;
    margin: 0 auto;
    line-height: 1.4em;
    opacity: 0;
}

.informationContainer a{
    color: white;
    text-decoration: underline;
    font-size: 1em;
}

.informationContainer a:hover{
    color: rgb(152, 173, 193);
    transition: 0.3s ease-in-out;
}

.animateSectionContents{
    animation: scrollInSectionContents 1.2s ease-in forwards;
    opacity: 1;
}

@keyframes scrollInSectionContents{
    0%{
        opacity: 0;
        transform: translateY(40%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}

/**This is the css for the button specifc to the bottom of the page
 * The css is primarily for the purpose of ensuring that the button is positioned at the correct height on the page
*/
.bottomHomepageButton{
    top:75em;
}



/**Media queries for smaller screen sizes
 * Webpage rearranges to appear better on smaller screens
*/
@media (max-width: 900px) {
    /*Size of background overall works better now*/
    .background{
        min-height: 205em;
    }

    /*Container for main menu is positioned mored appropriately now*/
    .informationContainer{
        top: 60em;
    }

    /*Title appears better on smaller screens appropriately*/
    .webpageTitle{
        font-size: 4em;
        margin-top: 5em;
    }

    /*Heading for each section is more appropriate*/
    .informationContainer h1{
        font-size: 2em;
    }
    
    /*Better sizing for section text of smaller screen*/
    .informationContainer p{
        font-size: 1.2em;
    }

    /*Button are improved to be seen better when used on smaller screens*/
    .homepageButton{
        width: 18em;
        font-size: 1.5em;
    }

    /*Button at bottom of the page is positioned more appropriately*/
    .bottomHomepageButton{
        top: 98em;
    }
}
@media (max-width: 600px) {
    /*Size of background overall works better now*/
    .background{
        min-height: 255em;
    }
    
    /*Title appears better on smaller screens appropriately*/
    .webpageTitle{
        font-size: 3em;
    }

    /*Sizings of the sections for the info page now fit all the text better when viewed on a smaller screen*/
    .informationContainer > div{
        height: 40em;
    }
    
    /*Button are improved to be seen better when used on smaller screens*/
    .homepageButton{
        width: 70vw;
    }

    /*Button at bottom of the page is positioned more appropriately*/
    .bottomHomepageButton{
        top: 130em;
    }
}