/**The css that creates the background for the main menu
 * Sets a gradient background colour
*/
.background{
    position:relative;
    display: inline-block;
    background: #0b2633;
    background: linear-gradient(180deg, rgba(11, 38, 51, 1) 0%, rgba(19, 39, 56, 1) 12%, rgba(26, 53, 82, 1) 71%, rgba(52, 87, 117, 1) 100%);
    width: 100%;
    /* min-height: 74em; */
    min-height: 162em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

/**This is the css to create the main appearance for the main menu
 * Creates the main menu container and the buttons of the main menu
*/
.informationContainer{
    position:absolute;
    display: block;
    top:30em;
    left:50%;
    width: 100%;
    animation: fadeinContainer 0.5s ease-in-out forwards;
}

/**This creates the fadein animation for the container when the main menu is opened
 * It causes the main menu to fade in and move up the screen
*/
@keyframes fadeinContainer{
    0%{
        opacity: 0;
        transform: translateY(350%) translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%) translateX(-50%);
    }
}

/**This is the css to create the fadeout animation for the main menu
 * Causes the main menu to fade out and move up the screen when the quiz is started
*/
.fadeoutContainer{
    animation: fadeoutContainer 0.7s ease-in-out forwards;
}

@keyframes fadeoutContainer{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-500%) translateX(-50%);
    }
}

/**Media queries for smaller screen sizes
 * Webpage rearranges to appear better on smaller screens
*/
@media (max-width: 800px) {
    /*Size of background overall works better now*/
    .background{
        min-height: 79em;
        height: 100vh;
    }

    /*Container for main menu is positioned mored appropriately now*/
    .informationContainer{
        width: 90%;
        top: 5em;
    }

    /*Improvements to the elements of the main menu within the container*/
    .mainMenuContainer h1{
        font-size: 2rem;
    }
    .button{
        font-size: 1.5em;
    }
    .text{
        font-size: 1.2em;
    }
    
}

.webpageTitle{
    color: rgb(190, 190, 190);
    font-size: 5em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

.informationContainer > div{
    width: 100%;
    padding: 8em 5em;
    height: 29em;
    background-color: rgba(36, 78, 79, 0.4);
    border-radius: 1.5em;
    backdrop-filter: blur(4px);
}

.informationContainer > div:nth-child(even){
    background-color: rgba(19, 47, 51, 0.4);
    text-align: right;
}

.informationContainer h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0;
}

.informationContainer p{
    font-size: 1.6em;
    width: 98%;
    margin: 0 auto;
    line-height: 1.4em;
    opacity: 0;
}

.informationContainer a{
    color: white;
    text-decoration: underline;
    font-size: 1em;
}

.informationContainer a:hover{
    color: rgb(152, 173, 193);
    transition: 0.3s ease-in-out;
}

.animateSectionContents{
    animation: scrollInSectionContents 1.2s ease-in forwards;
    opacity: 1;
}

@keyframes scrollInSectionContents{
    0%{
        opacity: 0;
        transform: translateY(40%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}