/**This is the styling for the features of the background animations of the main manu
 * This includes the spans and other parts of the background
*/

/*General styling for container of the background animations*/
.backgroundAnimation{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/**Root styling for the background animation
 * Sets root variables used for the background animation
*/
:root{
    --animationTime: 0.6s;
    --animationOpacity: 0.40;
}




/**Styling for the background animation of the info hover
 * Includes the two spans and their animations
*/

.infoSpan1{
    font-size: 10vw;
    color: rgba(45, 202, 74, var(--animationOpacity));
    position: absolute;
    left:-10vw;
    top: 25vh;
    display: none;
}

@keyframes infoSpanShow1 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0vh) rotate(-450deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(10vw) translateY(-35vh) rotate(0deg);
        scale: 1;
    }
}

.animateInfo1{
    display: inline-block;
    animation: infoSpanShow1 var(--animationTime) ease forwards;
}

.infoSpan2{
    color: rgba(33, 130, 22, var(--animationOpacity));
    position: absolute;
    right:25vw;
    top: 75vh;
    display: none;
}

.infoSpan2 span{
    font-size: 15vw;
}

@keyframes infoSpanShow2 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0vh) rotate(90deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(25vw) translateY(-25vh) rotate(-30deg);
        scale: 1;
    }
}

.animateInfo2{
    display: inline-block;
    animation: infoSpanShow2 var(--animationTime) ease forwards;
}





/**Styling for the background animation of the ratio hover
 * Includes the two spans and their animations
*/

.ratioSpan1{
    font-size: 32vw;
    color: rgba(46, 146, 173, var(--animationOpacity));
    position: absolute;
    left:0;
    top: 50%;
    transform: translateX(-100%);
    display: none;
}

@keyframes ratioSpanShow1 {
    0%{
        opacity: 0;
        transform: translateX(-100%) translateY(0vh) rotate(300deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-5%) translateY(-60vh) rotate(380deg);
        scale: 1;
    }
}


.animateRatio1{
    display: inline-block;
    animation: ratioSpanShow1 var(--animationTime) ease forwards;
}

.ratioSpan2{
    font-size: 12vw;
    color: rgba(8, 164, 99, var(--animationOpacity));
    position: relative;
    left: 100vw;
    top: 0;
    transform: translateX(-100%);
    display: none;
}

@keyframes ratioSpanShow2 {
    0%{
        opacity: 0;
        transform: translateX(0) translateY(0vh) rotate(1200deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-30vw) translateY(25vh) rotate(-50deg);
        scale: 1;
    }
}

.animateRatio2{
    display: inline-block;
    animation: ratioSpanShow2 var(--animationTime) ease forwards;
}





/**Styling for the background animation of the probability hover
 * Includes the three spans and their animations
*/

.probabilitySpan1{
    font-size: 4vw;
    color: rgba(146, 79, 183, var(--animationOpacity));
    position: absolute;
    left:0;
    transform: translateX(-200%);
    display: none;
}

@keyframes probabilitySpanShow1 {
    0%{
        opacity: 0;
        transform: translateX(-200%) translateY(0vh) rotate(600deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-30%) translateY(15vh) rotate(270deg);
        scale: 1;
    }
}


.animateProbability1{
    display: inline-block;
    animation: probabilitySpanShow1 var(--animationTime) ease forwards;
}

.probabilitySpan2{
    font-size: 14vw;
    color: rgba(32, 57, 195, var(--animationOpacity));
    position: absolute;
    left: 100vw;
    top: 50vh;
    display: none;
}

@keyframes probabilitySpanShow2 {
    0%{
        opacity: 0;
        transform: translateX(0vh) translateY(155vh) rotate(1200deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-25vw) translateY(5vh) rotate(30deg);
        scale: 1;
    }
}

.animateProbability2{
    display: inline-block;
    animation: probabilitySpanShow2 var(--animationTime) ease forwards;
}



.probabilitySpan3{
    color: rgba(54, 7, 135, var(--animationOpacity));
    position: absolute;
    transform: translateX(-200%);
    display: none;
}

.probabilitySpan3 span{
    font-size: 42vw;
}

@keyframes probabilitySpanShow3 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0) rotate(0deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-10vw) translateY(40vh) rotate(45deg);
        scale: 1;
    }
}

.animateProbability3{
    display: inline-block;
    animation: probabilitySpanShow3 var(--animationTime) ease forwards;
}





/**Styling for the background animation of the factorisation hover
 * Includes the two spans and their animations
*/
.factorisationSpan1{
    font-size: 22vw;
    color: rgba(72, 20, 182, var(--animationOpacity));
    position: absolute;
    left: -45vw;
    top: -25vw;
    display: none;
}

.factorisationSpan1 sup{
    font-size: 11vw;
}

@keyframes factorisationSpanShow1 {
    0%{
        opacity: 0;
        transform: translateX(0%) translateY(0%) rotate(180deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(42vw) translateY(100vh) rotate(-20deg);
        scale: 1;
    }
}


.animateFactorisation1{
    display: inline-block;
    animation: factorisationSpanShow1 var(--animationTime) ease forwards;
}

.factorisationSpan2{
    font-size: 10vw;
    color: rgba(210, 27, 242, var(--animationOpacity));
    position: absolute;
    left: -14vw;
    display: none;
}

.factorisationSpan2 sup{
    font-size: 5vw;
}

@keyframes factorisationSpanShow2 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0vh) rotate(1200deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(16vw) translateY(40vh) rotate(30deg);
        scale: 1;
    }
}

.animateFactorisation2{
    display: inline-block;
    animation: factorisationSpanShow2 var(--animationTime) ease forwards;
}




/**Styling for the background animation of the universal hover
 * Includes the three spans and their animations
*/

.universalSpan1{
    font-size: 4vw;
    color: rgba(100, 117, 129, var(--animationOpacity));
    position: absolute;
    left:0;
    bottom: -10%;
    display: none;
}

.universalSpan1 span{
    font-size: 35vw;
}

@keyframes universalSpanShow1 {
    0%{
        opacity: 0;
        transform: translateX(-50%) translateY(0%) rotate(-720deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(32.5vw) translateY(-30%) rotate(360deg);
        scale: 1;
    }
}


.animateUniversal1{
    display: inline-block;
    animation: universalSpanShow1 var(--animationTime) ease forwards;
}

.universalSpan2{
    font-size: 14vw;
    color: rgba(0, 122, 8, var(--animationOpacity));
    position: absolute;
    left: -14vw;
    display: none;
}

.universalSpan2 span{
    font-size: 24vw;
}

@keyframes universalSpanShow2 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0vh) rotate(1200deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(12vw) translateY(25vh) rotate(30deg);
        scale: 1;
    }
}

.animateUniversal2{
    display: inline-block;
    animation: universalSpanShow2 var(--animationTime) ease forwards;
}



.universalSpan3{
    color: rgba(255, 207, 119, var(--animationOpacity));
    position: absolute;
    right: -30vw;
    display: none;
}

.universalSpan3 span{
    font-size: 28vw;
}

@keyframes universalSpanShow3 {
    0%{
        opacity: 0;
        transform: translateX(0vw) translateY(0) rotate(-720deg);
        scale: 0
    }
    100%{
        opacity: 1;
        transform: translateX(-30vw) translateY(10vh) rotate(45deg);
        scale: 1;
    }
}

.animateUniversal3{
    display: inline-block;
    animation: universalSpanShow3 var(--animationTime) ease forwards;
}



/**To make background animation dissapear
 * Animation used when the user clicks on a link to go to another page causing the background animation to disappear
*/
.fadeout{
    display: none;
}