/**The css that creates the background for the main menu
 * Sets a gradient background colour
*/
.background{
    position:relative;
    display: inline-block;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(3, 22, 26, 1) 12%, rgba(37, 77, 107, 1) 71%, rgba(59, 114, 125, 1) 100%);
    position: absolute;
    width: 100%;
    min-height: 69em;
    height: 100vh;
    overflow-x: hidden;
}

/**The css to create the animated bubbles background
 * Creates bubbles that float up from the bottom of the screen
*/
.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1.3vw;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 0 10px rgba(8, 100, 128, 0.5),
    0 0 50px rgba(0, 255, 255,0.5),
    0 0 100px rgba(0, 255, 255,0.5);
    animation: animate 35s linear infinite;
    animation-delay: calc(-1s * var(--i));
    --xDirection: 1;
    --xFactor: 1;
}

.bubbles span:nth-child(even){
    background-color: rgb(0, 42, 255);
    box-shadow: 0 0 0 10px rgba(36, 67, 146, 0.5),
    0 0 50px rgba(0, 42, 255, 0.5),
    0 0 100px rgba(0, 42, 255, 0.5);
}

.bubbles span:nth-child(4n){
    --xDirection: -1;
}.bubbles span:nth-child(4n+1){
    --xDirection: -1;
}
.bubbles span:nth-child(5n){
    --xFactor: 2;
}
.bubbles span:nth-child(5n+1){
    --xFactor: 3.5;
}
.bubbles span:nth-child(5n+2){
    --xFactor: 1.5;
}
.bubbles span:nth-child(5n+3){
    --xFactor: 3;
}
.bubbles span:nth-child(5n+4){
    --xFactor: 2.5;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) translateX(0px) scale(0.3);
        opacity: 0;
    }
    25%{
        transform: translateY(75vh) translateX(calc(2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(1);
        opacity: 0.7;
    }
    50%{
        transform: translateY(50vh) translateX(0px) scale(0.5);
        opacity: 0.4;
    }
    75%{
        transform: translateY(25vh) translateX(calc(-2px * var(--i) * var(--xDirection) * var(--xFactor))) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-10vh) translateX(0px) scale(1.4);
        opacity: 0.1;
    }
}

/**This is the css to create the main appearance for the main menu
 * Creates the main menu container and the buttons of the main menu
*/
.mainMenuContainer{
    position:absolute;
    top:9em;
    left:50%;
    transform:translateX(-50%);
    width: 80%;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    /* background-color: rgba(180, 180, 180, 0.3); */
}

.mainMenuContainer h1{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow:
        2px 2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff;
}

.text{
    color: rgb(74, 74, 74);
    font-size: 1.5em;
}

.button{
    font-size: 1.8em;
    display: inline-block;
    width: 80%;
    margin: 1em 0px;
    color: rgb(0, 0, 0);
    /* background-color:  rgba(180, 180, 180, 0.3);
    border-radius: 15px; */
    padding: 0.8em 0px;
}

.button:hover{
    /* background-color: rgba(180, 180, 180, 0.6);
    border-color: black; */
    text-shadow: rgb(15, 134, 252) 0px 0px 5px, rgb(18, 11, 165) 0px 0px 10px;
}

.button:active{
    /* background-color: black;
    border-color: black; */
    color: white;
}